:root {
    --negro: black;
    --blanco: white;
    --textColor: #d4fcfc;
    --subtitles: #8c34f4;
    --men: #f7b39e;
    --background: #ecdffb;
    --fondo: #f5daec;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-bottom: 0.5px solid;
    /* background-color: #faceeb; */
}

.logo {
    height: 100px;
    margin: 10px;
}

nav {
    text-align: center; 
}

nav ul {
    list-style: none; 
    
}

nav ul li {
    display: inline-block;
    margin-right: 10px; 
    text-decoration: none;
}

nav ul li button {
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 7px;
    transition: 0.4s;
    background-color: #faceeb; 
}

nav button:hover{
    background-color: #f583cf;
}

nav a {
    text-decoration: none;
    color: black;
}

/* Aquí empieza el Main */

.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding-bottom: 50px;
    background-color: #fad8ce;
    padding-top: 20px;
}

main {
    background-color: #fad8ce;
    padding-top: 20px;
}

h2 {
    text-align: center;
    padding: 10px;
}

.productos {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    padding-top: 20px;
    border-radius: 15px;
    border: 1px solid black;
    width: 320px;
    background-color: white;
}

.productos img {
    width: 300px;
    border-radius: 15px;
}

.productos p {
    line-height: 30px;
    text-align: center;
}

.productos button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 7px;
    transition: 0.4s;
    background-color: #fad8ce;
}

button:hover{
    background-color: var(--men);
}

/* Aquí empieza el Footer */

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: black;
}

footer ul li {
    display: inline;
    padding: 30px;
}

footer a {
    color: white;
    text-decoration: none;
}

.socialMedia {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.socialMedia img {
    margin-right: 20px;
}

footer p {
    color: white;
}